# Don't Run This One

In [1]:
import pandas as pd

Getting cleaned all movie dataset

In [3]:
data = pd.read_csv('oscars_8.csv')

In [4]:
data

,title,runtime,budget,Year,Genre,is_Nominated,Won,Animation,Comedy,Family,...,War,Foreign,Western,Documentary,Music,Biography,Sci-Fi,Film-Noir,Musical,Sport
0,Toy Story,81,30000000,1995,Animation Comedy Family,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
1,Jumanji,104,65000000,1995,Adventure Fantasy Family,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,Waiting to Exhale,127,16000000,1995,Comedy Drama Romance,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,Heat,170,60000000,1995,Action Crime Drama Thriller,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Sabrina,127,58000000,1995,Comedy Romance,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8655,State Fair,0,4500000,1933,Comedy Drama Romance,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8656,Flirtation Walk,0,479000,1934,Musical Romance,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8657,Smilin' Through,0,851000,1932,Drama Romance,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8658,The Hollywood Revue of 1929,0,426000,1929,Musical,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
8659,Alibi,0,7600000,1929,Crime,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
keys = []
for m in data['title'].tolist():
    keys.append(m.replace(" ", "+"))

In [7]:
len(keys)

8660

In [8]:
data['month'] = ''
data['Runtime'] = 0
data['country'] = ''

In [10]:
data.drop('Genre', axis = 1, inplace = True)

In [11]:
data

,title,runtime,budget,Year,is_Nominated,Won,Animation,Comedy,Family,Adventure,...,Documentary,Music,Biography,Sci-Fi,Film-Noir,Musical,Sport,month,Runtime,country
0,Toy Story,81,30000000,1995,0,0,1,1,1,0,...,0,0,0,0,0,0,0,,0,
1,Jumanji,104,65000000,1995,0,0,0,0,1,1,...,0,0,0,0,0,0,0,,0,
2,Waiting to Exhale,127,16000000,1995,0,0,0,1,0,0,...,0,0,0,0,0,0,0,,0,
3,Heat,170,60000000,1995,0,0,0,0,0,0,...,0,0,0,0,0,0,0,,0,
4,Sabrina,127,58000000,1995,0,0,0,1,0,0,...,0,0,0,0,0,0,0,,0,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8655,State Fair,0,4500000,1933,1,0,0,1,0,0,...,0,0,0,0,0,0,0,,0,
8656,Flirtation Walk,0,479000,1934,1,0,0,0,0,0,...,0,0,0,0,0,1,0,,0,
8657,Smilin' Through,0,851000,1932,1,0,0,0,0,0,...,0,0,0,0,0,0,0,,0,
8658,The Hollywood Revue of 1929,0,426000,1929,1,0,0,0,0,0,...,0,0,0,0,0,1,0,,0,
8659,Alibi,0,7600000,1929,1,0,0,0,0,0,...,0,0,0,0,0,0,0,,0,

In [12]:
data['Metascore'] = 0
data['imdbRating'] = 0.0

In [13]:
data

,title,runtime,budget,Year,is_Nominated,Won,Animation,Comedy,Family,Adventure,...,Biography,Sci-Fi,Film-Noir,Musical,Sport,month,Runtime,country,Metascore,imdbRating
0,Toy Story,81,30000000,1995,0,0,1,1,1,0,...,0,0,0,0,0,,0,,0,0.0
1,Jumanji,104,65000000,1995,0,0,0,0,1,1,...,0,0,0,0,0,,0,,0,0.0
2,Waiting to Exhale,127,16000000,1995,0,0,0,1,0,0,...,0,0,0,0,0,,0,,0,0.0
3,Heat,170,60000000,1995,0,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0
4,Sabrina,127,58000000,1995,0,0,0,1,0,0,...,0,0,0,0,0,,0,,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8655,State Fair,0,4500000,1933,1,0,0,1,0,0,...,0,0,0,0,0,,0,,0,0.0
8656,Flirtation Walk,0,479000,1934,1,0,0,0,0,0,...,0,0,0,1,0,,0,,0,0.0
8657,Smilin' Through,0,851000,1932,1,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0
8658,The Hollywood Revue of 1929,0,426000,1929,1,0,0,0,0,0,...,0,0,0,1,0,,0,,0,0.0
8659,Alibi,0,7600000,1929,1,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0

In [126]:
month = []
Runtime = []
country = []
Metascore = []
imdbRating = []
wrong_key = [] #Wrong key stores all the movies api is not able to information for, due to any reason

In [127]:
import requests

In [ ]:
#using omdb api to get values od month, runtime, country, metascore, imdbrating
for k in keys[8000:]:
    try:
        base_url = "http://www.omdbapi.com/?t=" + k + "&apikey=ef77cff7"  

        response = requests.get(base_url)

        dic = eval(response.text)
        #month.append(dic['Released'])
        Runtime.append(dic['Runtime'])
        country.append(dic['Country'])
        Metascore.append(dic['Metascore'])
        imdbRating.append(dic['imdbRating'])
    except Exception as e:
        print(e)
        wrong_key.append(k)
        pass

'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'
'Released'

In [68]:
len(wrong_key) - 7 -12-20-25-29-35-43

714

In [69]:
len(imdbRating)

7775

In [70]:
wrong_keys = []
for m in wrong_key:
    wrong_keys.append(m.replace("+", " "))

In [72]:
missing = pd.DataFrame(wrong_keys, columns = ['Missing']) #Contains all movies I didn't get info for

In [73]:
missing

                                             Missing
0    The Neverending Story III: Escape from Fantasia
1                The Naked Gun 33⅓: The Final Insult
2                           Police Story 3: Supercop
3           My Left Foot: The Story of Christy Brown
4                      Star Trek: The Motion Picture
..                                               ...
880                                       State Fair
881                                  Flirtation Walk
882                                  Smilin' Through
883                      The Hollywood Revue of 1929
884                                            Alibi

[885 rows x 1 columns]

In [76]:
#Checking if any of the movies I couldn't get information for were Nominated or not
sum = 0
missing['is_Nominated'] = 0
for i in missing.index:
    if missing['Missing'][i] in data['title'][data['is_Nominated']==1].tolist():
        print(missing['Missing'][i])
        missing['is_Nominated'][i] = 1
        sum+=1
sum

My Left Foot: The Story of Christy Brown
Hacksaw Ridge
Arrival
La La Land
Manchester by the Sea
Lion
Hidden Figures
Fences
Get Out

C:\Users\Basudev\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Call Me by Your Name
Bad Girl
Dunkirk
Joker
Once Upon a Time... in Hollywood
1917
Jojo Rabbit
Ford v Ferrari
The Irishman
Goodfellas
BlacKkKlansman
Black Panther
Bohemian Rhapsody
Green Book
Marriage Story
Lady Bird
Three Billboards Outside Ebbing, Missouri
The Favourite
The Shape of Water
Life is Beautiful
Darkest Hour
The Post
Birdman or (The Unexpected Virtue of Ignorance)
Phantom Thread
Three Coins in the Fountain
Sunset Blvd.
MASH
Awakenings
Moonstruck
Field of Dreams
Romeo and Juliet
The Big Chill
All That Jazz
The Magnificent Ambersons
Anatomy of a Murder
The Quiet Man
Five Easy Pieces
Heaven Can Wait
The Lion in Winter
Howards End
On Golden Pond
The Philadelphia Story
Seven Brides for Seven Brothers
Tess
Frost/Nixon
The Good Earth
Quiz Show
A Place in the Sun
Cries and Whispers
The Song of Bernadette
Crossfire
Shine
The Music Man
Miracle on 34th Street
Places in the Heart
Darling
Il postino
Lenny
Kiss of the Spider Woman
Gigi
Prizzi's Honor
Julius Caesar
Five Star Final
Sunrise
Missing
Nicholas and Alexandra
You Can't Take It with You
Mister Roberts
Children of a Lesser God
Yankee Doodle Dandy
Foreign Correspondent
Captain Blood
The Defiant Ones
Tender Mercies
Norma Rae
Auntie Mame
The Razor's Edge
The Ox-Bow Incident
Becket
Hope and Glory
Twelve O'Clock High
The Russians Are Coming the Russians Are Coming
Peyton Place
Friendly Persuasion
Mr. Deeds Goes to Town
Lilies of the Field
Since You Went Away
Utvandrarna
The Great Ziegfeld
Love Is a Many-Splendored Thing
Going My Way
Room at the Top
The Awful Truth
49th Parallel
Random Harvest
Ivanhoe
Father of the Bride
Anchors Aweigh
Bound for Glory
Dark Victory
Pygmalion
The Dresser
The Snake Pit
The Yearling
Imitation of Life
In Which We Serve
The Talk of the Town
The Long Voyage Home
The More the Merrier
Cimarron
Kitty Foyle
The Bells of St. Mary's
A Tale of Two Cities
Stage Door
The Private Life of Henry VIII.
Madame Curie
Kings Row
A Thousand Clowns
Rachel, Rachel
Alice Adams
Watch on the Rhine
David Copperfield
Boys Town
7th Heaven
The Life of Emile Zola
The Crowd
Sounder
Libeled Lady
The Champ
Sons and Lovers
Wake Island
Johnny Belinda
All This, and Heaven Too
The Big House
The Human Comedy
Lady for a Day
In Old Chicago
Anthony Adverse
The Citadel
Blossoms in the Dust
Trader Horn
Broadway Melody of 1936
Test Pilot
Viva Villa!
Three Smart Girls
The Barretts of Wimpole Street
Naughty Marietta
The Pied Piper
Disraeli
In Old Arizona
Here Comes the Navy
One Night of Love
State Fair
Flirtation Walk
Smilin' Through
The Hollywood Revue of 1929
Alibi

166

In [77]:
missing

                                             Missing  is_Nominated
0    The Neverending Story III: Escape from Fantasia             0
1                The Naked Gun 33⅓: The Final Insult             0
2                           Police Story 3: Supercop             0
3           My Left Foot: The Story of Christy Brown             1
4                      Star Trek: The Motion Picture             0
..                                               ...           ...
880                                       State Fair             1
881                                  Flirtation Walk             1
882                                  Smilin' Through             1
883                      The Hollywood Revue of 1929             1
884                                            Alibi             1

[885 rows x 2 columns]

In [78]:
missing_no = missing[missing['is_Nominated'] == 0] #Movies missing information that are not nominated for oscars
missing_want = missing[missing['is_Nominated'] == 1] #Movies missing information that are nominated for oscars

In [79]:
missing_no

                                               Missing  is_Nominated
0      The Neverending Story III: Escape from Fantasia             0
1                  The Naked Gun 33⅓: The Final Insult             0
2                             Police Story 3: Supercop             0
4                        Star Trek: The Motion Picture             0
5    A Nightmare on Elm Street Part 2: Freddy's Rev...             0
..                                                 ...           ...
726                                     Dead Daughters             0
727                   Thick Lashes of Lauri Mäntyvaara             0
728                                    Corporate Event             0
729                                        Pro Lyuboff             0
730                                            Antidur             0

[719 rows x 2 columns]

In [102]:
#Dropping movies I'm missing information for that aren't nominated for oscars
for i in data.index:
    if data['title'][i] in missing_no['Missing'].tolist():
        data.drop([i], axis = 0, inplace = True)

In [103]:
data

,title,runtime,budget,Year,is_Nominated,Won,Animation,Comedy,Family,Adventure,...,Biography,Sci-Fi,Film-Noir,Musical,Sport,month,Runtime,country,Metascore,imdbRating
0,Toy Story,81,30000000,1995,0,0,1,1,1,0,...,0,0,0,0,0,,0,,0,0.0
1,Jumanji,104,65000000,1995,0,0,0,0,1,1,...,0,0,0,0,0,,0,,0,0.0
2,Waiting to Exhale,127,16000000,1995,0,0,0,1,0,0,...,0,0,0,0,0,,0,,0,0.0
3,Heat,170,60000000,1995,0,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0
4,Sabrina,127,58000000,1995,0,0,0,1,0,0,...,0,0,0,0,0,,0,,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8655,State Fair,0,4500000,1933,1,0,0,1,0,0,...,0,0,0,0,0,,0,,0,0.0
8656,Flirtation Walk,0,479000,1934,1,0,0,0,0,0,...,0,0,0,1,0,,0,,0,0.0
8657,Smilin' Through,0,851000,1932,1,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0
8658,The Hollywood Revue of 1929,0,426000,1929,1,0,0,0,0,0,...,0,0,0,1,0,,0,,0,0.0
8659,Alibi,0,7600000,1929,1,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0

In [104]:
data.columns

Index(['title', 'runtime', 'budget', 'Year', 'is_Nominated', 'Won',
       'Animation', 'Comedy', 'Family', 'Adventure', 'Fantasy', 'Drama',
       'Romance', 'Action', 'Crime', 'Thriller', 'History', 'Science',
       'Fiction', 'Mystery', 'Horror', 'War', 'Foreign', 'Western',
       'Documentary', 'Music', 'Biography', 'Sci-Fi', 'Film-Noir', 'Musical',
       'Sport', 'month', 'Runtime', 'country', 'Metascore', 'imdbRating'],
      dtype='object')

In [105]:
left = pd.DataFrame(columns = ['title', 'runtime', 'budget', 'Year', 'is_Nominated', 'Won',
       'Animation', 'Comedy', 'Family', 'Adventure', 'Fantasy', 'Drama',
       'Romance', 'Action', 'Crime', 'Thriller', 'History', 'Science',
       'Fiction', 'Mystery', 'Horror', 'War', 'Foreign', 'Western',
       'Documentary', 'Music', 'Biography', 'Sci-Fi', 'Film-Noir', 'Musical',
       'Sport', 'month', 'Runtime', 'country', 'Metascore', 'imdbRating'])

In [106]:
convert_dict = {'runtime' : 'int64', 'budget' : 'int64', 'Year' : 'int64', 'is_Nominated' : 'int64', 'Won' : 'int64',
       'Animation' : 'int64', 'Comedy' : 'int64', 'Family' : 'int64', 'Adventure' : 'int64', 'Fantasy' : 'int64','Drama' : 'int64',
       'Romance' : 'int64', 'Action' : 'int64', 'Crime' : 'int64', 'Thriller' : 'int64', 'History' : 'int64', 'Science' : 'int64',
       'Fiction' : 'int64', 'Mystery' : 'int64', 'Horror' : 'int64', 'War' : 'int64', 'Foreign' : 'int64', 'Western' : 'int64',
       'Documentary' : 'int64', 'Music' : 'int64', 'Biography' : 'int64', 'Sci-Fi' : 'int64', 'Film-Noir' : 'int64', 'Musical' : 'int64',
       'Sport' : 'int64', 'Runtime' : 'int64','Metascore' : 'int64', 'imdbRating' : 'float64'
               } 
  
left = left.astype(convert_dict)

In [107]:
#Removing all movies that I don't have information about and were nominated for oscars from data and putting them in left
for i in data.index:
    if data['title'][i] in missing_want['Missing'].tolist():
        left = left.append(data.loc[i], ignore_index = True)
        data.drop([i], axis = 0, inplace = True)

In [108]:
data

,title,runtime,budget,Year,is_Nominated,Won,Animation,Comedy,Family,Adventure,...,Biography,Sci-Fi,Film-Noir,Musical,Sport,month,Runtime,country,Metascore,imdbRating
0,Toy Story,81,30000000,1995,0,0,1,1,1,0,...,0,0,0,0,0,,0,,0,0.0
1,Jumanji,104,65000000,1995,0,0,0,0,1,1,...,0,0,0,0,0,,0,,0,0.0
2,Waiting to Exhale,127,16000000,1995,0,0,0,1,0,0,...,0,0,0,0,0,,0,,0,0.0
3,Heat,170,60000000,1995,0,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0
4,Sabrina,127,58000000,1995,0,0,0,1,0,0,...,0,0,0,0,0,,0,,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7996,Matru Ki Bijlee Ka Mandola,150,838403,2013,0,0,0,1,0,0,...,0,0,0,0,0,,0,,0,0.0
7997,Local Color,107,3250000,2006,0,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0
7998,26 Years,135,4330000,2012,0,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0
7999,I'm Staying,112,1000000,2007,0,0,0,1,0,0,...,0,0,0,0,0,,0,,0,0.0
8000,Hands of Stone,105,20000000,2016,0,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0

In [109]:
left

,title,runtime,budget,Year,is_Nominated,Won,Animation,Comedy,Family,Adventure,...,Biography,Sci-Fi,Film-Noir,Musical,Sport,month,Runtime,country,Metascore,imdbRating
0,My Left Foot: The Story of Christy Brown,103,645180,1989,1,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0
1,Hacksaw Ridge,140,40000000,2016,1,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0
2,Arrival,113,47000000,2016,1,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0
3,La La Land,128,30000000,2016,1,0,0,1,0,0,...,0,0,0,0,0,,0,,0,0.0
4,Manchester by the Sea,135,9000000,2016,1,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,State Fair,0,4500000,1933,1,0,0,1,0,0,...,0,0,0,0,0,,0,,0,0.0
162,Flirtation Walk,0,479000,1934,1,0,0,0,0,0,...,0,0,0,1,0,,0,,0,0.0
163,Smilin' Through,0,851000,1932,1,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0
164,The Hollywood Revue of 1929,0,426000,1929,1,0,0,0,0,0,...,0,0,0,1,0,,0,,0,0.0
165,Alibi,0,7600000,1929,1,0,0,0,0,0,...,0,0,0,0,0,,0,,0,0.0

In [112]:
data['month'] = month
data['Runtime'] = Runtime
data['country'] = country
data['Metascore'] = Metascore
data['imdbRating'] = imdbRating

In [113]:
data

,title,runtime,budget,Year,is_Nominated,Won,Animation,Comedy,Family,Adventure,...,Biography,Sci-Fi,Film-Noir,Musical,Sport,month,Runtime,country,Metascore,imdbRating
0,Toy Story,81,30000000,1995,0,0,1,1,1,0,...,0,0,0,0,0,22 Nov 1995,81 min,USA,95,8.3
1,Jumanji,104,65000000,1995,0,0,0,0,1,1,...,0,0,0,0,0,15 Dec 1995,104 min,USA,39,7.0
2,Waiting to Exhale,127,16000000,1995,0,0,0,1,0,0,...,0,0,0,0,0,22 Dec 1995,124 min,USA,N/A,5.9
3,Heat,170,60000000,1995,0,0,0,0,0,0,...,0,0,0,0,0,15 Dec 1995,170 min,USA,76,8.2
4,Sabrina,127,58000000,1995,0,0,0,1,0,0,...,0,0,0,0,0,15 Oct 1954,113 min,USA,72,7.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7996,Matru Ki Bijlee Ka Mandola,150,838403,2013,0,0,0,1,0,0,...,0,0,0,0,0,11 Jan 2013,151 min,India,46,5.6
7997,Local Color,107,3250000,2006,0,0,0,0,0,0,...,0,0,0,0,0,15 Aug 2009,107 min,USA,N/A,6.9
7998,26 Years,135,4330000,2012,0,0,0,0,0,0,...,0,0,0,0,0,29 Nov 2012,135 min,South Korea,N/A,6.3
7999,I'm Staying,112,1000000,2007,0,0,0,1,0,0,...,0,0,0,0,0,01 Oct 2003,102 min,France,N/A,5.4
8000,Hands of Stone,105,20000000,2016,0,0,0,0,0,0,...,0,0,0,0,0,26 Aug 2016,111 min,"Panama, USA",54,6.6

In [117]:
#Nominated movies with NA Metascore
data[(data['Metascore'] == 'N/A') & (data['is_Nominated'] == 1)]

,title,runtime,budget,Year,is_Nominated,Won,Animation,Comedy,Family,Adventure,...,Biography,Sci-Fi,Film-Noir,Musical,Sport,month,Runtime,country,Metascore,imdbRating
360,For Whom the Bell Tolls,170,3000000,1943,1,0,0,0,0,0,...,0,0,0,0,0,16 Jul 1943,170 min,USA,N/A,6.9
367,Gaslight,114,2068000,1944,1,0,0,0,0,0,...,0,0,0,0,0,30 Oct 1944,114 min,USA,N/A,7.8
368,The Gay Divorcee,107,520000,1934,1,0,0,1,0,0,...,0,0,0,0,0,12 Oct 1934,107 min,USA,N/A,7.5
386,Spellbound,111,1500000,1945,1,0,0,0,0,0,...,0,0,0,0,0,28 Dec 1945,111 min,USA,N/A,7.6
388,Ninotchka,110,1365000,1939,1,0,0,1,0,0,...,0,0,0,0,0,23 Nov 1939,110 min,USA,N/A,7.9
391,Lost Horizon,97,4000000,1937,1,0,0,0,0,1,...,0,0,0,0,0,01 Sep 1937,132 min,USA,N/A,7.7
392,Top Hat,101,609000,1935,1,0,0,1,0,0,...,0,0,0,0,0,06 Sep 1935,101 min,USA,N/A,7.8
395,The Thin Man,93,226408,1934,1,0,0,1,0,0,...,0,0,0,0,0,25 May 1934,91 min,USA,N/A,8.0
404,A Farewell to Arms,89,4,1932,1,0,0,0,0,0,...,0,0,0,0,0,08 Dec 1932,80 min,USA,N/A,6.5
428,Secrets & Lies,142,4500000,1996,1,0,0,0,0,0,...,0,0,0,0,0,07 Feb 2007,15 min,USA,N/A,5.0
544,The Great Dictator,125,2000000,1940,1,0,0,1,0,0,...,0,0,0,0,0,07 Mar 1941,125 min,USA,N/A,8.4
798,Wings,141,2000000,1927,1,1,0,0,0,0,...,0,0,0,0,0,05 Jan 1929,144 min,USA,N/A,7.5
799,The Broadway Melody,100,379000,1929,1,1,0,0,0,0,...,0,0,0,0,0,06 Jun 1929,100 min,USA,N/A,5.7
801,Grand Hotel,112,700000,1932,1,1,0,0,0,0,...,0,0,0,0,0,11 Sep 1932,112 min,USA,N/A,7.4
802,Cavalcade,110,1180280,1933,1,1,0,0,0,0,...,0,0,0,0,0,15 Apr 1933,112 min,USA,N/A,5.9
805,How Green Was My Valley,118,1250000,1941,1,1,0,0,0,0,...,0,0,0,0,0,09 Apr 1942,118 min,USA,N/A,7.7
806,Mrs. Miniver,134,1344000,1942,1,1,0,0,0,0,...,0,0,0,0,0,01 Dec 1942,134 min,USA,N/A,7.6
807,The Lost Weekend,101,1250000,1945,1,1,0,0,0,0,...,0,0,0,0,0,01 Jan 1946,101 min,USA,N/A,7.9
809,Gentleman's Agreement,118,2000000,1947,1,1,0,0,0,0,...,0,0,0,0,0,01 Mar 1948,118 min,USA,N/A,7.2
810,Hamlet,155,750000,1948,1,1,0,0,0,0,...,0,0,0,0,0,25 Dec 1996,242 min,"UK, USA",N/A,7.7
811,The Greatest Show on Earth,152,4000000,1952,1,1,0,0,0,0,...,0,0,0,0,0,01 May 1952,152 min,USA,N/A,6.6
814,Marty,90,343000,1955,1,1,0,0,0,0,...,0,0,0,0,0,10 Jun 1955,90 min,USA,N/A,7.7
1166,Mildred Pierce,111,1453000,1945,1,0,0,0,0,0,...,0,0,0,0,0,20 Oct 1945,111 min,USA,N/A,8.0
1595,The Guns of Navarone,158,6000000,1961,1,0,0,0,0,1,...,0,0,0,0,0,28 Apr 1961,158 min,UK,N/A,7.5
1824,Elmer Gantry,146,3000000,1960,1,0,0,0,0,0,...,0,0,0,0,0,01 Jul 1960,146 min,USA,N/A,7.8
1881,The Sand Pebbles,182,12000000,1966,1,0,0,0,0,1,...,0,0,0,0,0,20 Dec 1966,182 min,USA,N/A,7.6
2111,Witness for the Prosecution,116,3000000,1957,1,0,0,0,0,0,...,0,0,0,0,0,06 Feb 1958,116 min,USA,N/A,8.4
2491,The Robe,135,4100000,1953,1,0,0,0,0,0,...,0,0,0,0,0,04 Dec 1953,135 min,USA,N/A,6.7
2596,The Red Shoes,133,500000,1948,1,0,0,0,0,0,...,0,0,0,0,0,06 Sep 1948,135 min,UK,N/A,8.1
2740,Jezebel,103,1250000,1938,1,0,0,0,0,0,...,0,0,0,0,0,26 Mar 1938,104 min,USA,N/A,7.5
2741,42nd Street,89,439000,1933,1,0,0,1,0,0,...,0,0,0,0,0,11 Mar 1933,89 min,USA,N/A,7.4
2744,The Front Page,105,4000000,1974,1,0,0,1,0,0,...,0,0,0,0,0,20 Dec 1974,105 min,USA,N/A,7.3
2812,King Solomon's Mines,100,12500000,1985,1,0,0,1,0,1,...,0,0,0,0,0,03 Dec 2006,92 min,USA,N/A,6.2
2847,The Ten Commandments,220,13000000,1956,1,0,0,0,0,0,...,0,0,0,0,0,05 Oct 1956,220 min,USA,N/A,7.8
2892,Zorba the Greek,142,783000,1964,1,0,0,0,0,1,...,0,0,0,0,0,14 Dec 1964,142 min,"Greece, USA",N/A,7.7
2928,I Am a Fugitive from a Chain Gang,93,195845,1932,1,0,0,0,0,0,...,0,0,0,0,0,19 Nov 1932,92 min,USA,N/A,8.2
2970,The Divorcee,84,340,1930,1,0,0,0,0,0,...,0,0,0,0,0,19 Apr 1930,84 min,USA,N/A,6.8
2974,The Heiress,115,2600000,1949,1,0,0,0,0,0,...,0,0,0,0,0,28 Dec 1949,115 min,USA,N/A,8.2
3023,Moulin Rouge,119,1500000,1952,1,0,0,0,0,0,...,0,0,0,0,0,10 Apr 1953,119 min,UK,N/A,7.1
3058,Alexander's Ragtime Band,106,2000000,1938,1,0,0,0,0,0,...,0,0,0,0,0,16 Aug 1938,106 min,USA,N/A,6.9
3110,She Done Him Wrong,66,200000,1933,1,0,0,1,0,0,...,0,0,0,0,0,09 Feb 1933,66 min,USA,N/A,6.3
3114,Captains Courageous,115,1645000,1937,1,0,0,0,1,1,...,0,0,0,0,0,25 Jun 1937,117 min,USA,N/A,8.0
3115,Dead End,93,300000,1937,1,0,0,0,0,0,...,0,0,0,0,0,26 Sep 2003,85 min,France,N/A,6.6
3131,The Nun's Story,149,3500000,1959,1,0,0,0,0,0,...,0,0,0,0,0,18 Jul 1959,149 min,USA,N/A,7.6
3148,"Goodbye, Mr. Chips",155,9000000,1969,1,0,0,0,0,0,...,0,0,0,0,0,28 Jul 1939,114 min,UK,N/A,7.9
3325,Sergeant York,134,1400000,1941,1,0,0,0,0,0,...,0,0,0,0,0,27 Sep 1941,134 min,USA,N/A,7.7
3414,San Francisco,115,1300000,1936,1,0,0,0,0,0,...,0,0,0,0,0,26 Jun 1936,115 min,USA,N/A,7.2
3437,Quo Vadis,171,8250000,1951,1,0,0,0,0,0,...,0,0,0,0,0,25 Dec 1951,171 min,USA,N/A,7.2
3446,An Unmarried Woman,124,2515000,1978,1,0,0,1,0,0,...,0,0,0,0,0,26 May 1978,124 min,USA,N/A,7.1
4645,One Hundred Men and a Girl,84,762,1937,1,0,0,1,0,0,...,0,0,0,0,0,05 Sep 1937,84 min,USA,N/A,6.9
5377,Wuthering Heights,129,8000000,2011,1,0,0,0,0,0,...,0,0,0,0,0,07 Apr 1939,104 min,USA,N/A,7.6
5687,The Letter,92,10000000,2012,1,0,0,0,0,0,...,0,0,0,0,0,23 Nov 1940,95 min,USA,N/A,7.6
6202,Battleground,95,1000000,2012,1,0,0,0,0,0,...,0,0,0,0,0,20 Jan 1950,118 min,USA,N/A,7.4

In [118]:
missing_want

                                      Missing  is_Nominated
3    My Left Foot: The Story of Christy Brown             1
249                             Hacksaw Ridge             1
269                                   Arrival             1
298                                La La Land             1
325                     Manchester by the Sea             1
..                                        ...           ...
880                                State Fair             1
881                           Flirtation Walk             1
882                           Smilin' Through             1
883               The Hollywood Revue of 1929             1
884                                     Alibi             1

[166 rows x 2 columns]

In [125]:
data.to_csv('oscars_9.csv', index = False)

In [124]:
left.to_csv('left.csv', index = False)