# Inflating values

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px

data = pd.read_csv('oscars_12.csv')

data.head()

data.columns.tolist()

data.isnull().sum().tolist()

data.info()

data.describe()

data['ID'] = data.index

data

cols = data.columns.tolist()
cols = cols[-1:] + cols[:-1]
data = data[cols]

data.drop('Title', axis = 1, inplace = True)

data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7821 entries, 0 to 7820
Columns: 148 entries, Title to Won
dtypes: float64(2), int64(145), object(1)
memory usage: 8.8+ MB

,ID,Budget,Runtime,Months_till_Dec,Year,Metascore,imdbRating,Animation,Comedy,Family,...,Laos,Uganda,Kosovo,Qatar,Colombia,Pakistan,Cambodia,Nigeria,is_Nominated,Won
0,0,92620000,153,9,1927,98.00,8.3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,200000,94,1,1927,79.16,8.1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,1300000,60,4,1927,79.16,5.2,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,217000,63,6,1927,54.32,7.8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,483103,80,2,1927,54.32,7.7,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7816,7816,100000000,119,11,2019,78.00,8.3,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7817,7817,97600000,152,1,2019,81.00,8.1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7818,7818,159000000,209,1,2019,94.00,7.9,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7819,7819,18000000,137,0,2019,94.00,8.0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
7820,7820,14000000,108,1,2019,58.00,7.9,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [2]:
#data['is_Nominated'] = data['is_Nominated'].astype(str)

#fig = px.scatter(data, x='ID', y='Budget', color='is_Nominated',
                 #color_discrete_sequence=["magenta", "goldenrod"],
                 #hover_data=['ID', 'Year', 'Budget', 'is_Nominated', 'Won'],)
#fig.show()

In [3]:
inf = pd.read_csv('inflate.csv')
inf.head()

inf['Money'][inf['Year'] == 2020]

data['Budget'] *= 20.35

data

key_year = inf['Year'].tolist()
value_money = inf['Money'].tolist()

dic = {} 
for key in key_year: 
    for value in value_money: 
        dic[key] = value
        value_money.remove(value)
        break  

data.tail()

for i in data.index:
    for key in dic.keys():
        if data['Year'][i] == key:
            data['Budget'][i] = data['Budget'][i]/dic[key]

data

x = data['Budget'][1]

x

data['Budget'] = data['Budget'].astype('int64')

data

C:\Users\Basudev\anaconda3\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,ID,Budget,Runtime,Months_till_Dec,Year,Metascore,imdbRating,Animation,Comedy,Family,...,Laos,Uganda,Kosovo,Qatar,Colombia,Pakistan,Cambodia,Nigeria,is_Nominated,Won
0,0,1365809420,153,9,1927,98.00,8.3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,2949275,94,1,1927,79.16,8.1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,2,19170289,60,4,1927,79.16,5.2,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,3,3199963,63,6,1927,54.32,7.8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,7124018,80,2,1927,54.32,7.7,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7816,7816,100295712,119,11,2019,78.00,8.3,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7817,7817,97888615,152,1,2019,81.00,8.1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7818,7818,159470182,209,1,2019,94.00,7.9,0,0,0,...,0,0,0,0,0,0,0,0,1,0
7819,7819,18053228,137,0,2019,94.00,8.0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
7820,7820,14041399,108,1,2019,58.00,7.9,0,1,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
data = data[data['Budget'] <= 400000000]

In [5]:
data.to_csv('ordered_oscars.csv', index = False)

In [6]:
df = pd.read_csv('shuffled_oscars.csv')

In [7]:
df = df[df['Budget'] <= 400000000]
df.to_csv('shuffled_oscars1.csv', index = False)